:root {
    --main-text-color: darkblue;
    --emphasis-color: rgb(69, 167, 167);
    --background-color: lavender;
    --label-color: rgb(52, 52, 52);
    --main-headers-column-width: 200px;
}

body {
    font-family: Georgia, Helvetica, sans-serif;
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--label-color);
    align-items: flex-start;
    height:60px;
    width:auto;
}

header h1 {
    background-color: var(--emphasis-color);
    color: var(--label-color);
    padding: 5px 5px 5px 20px;
    white-space: nowrap;
    margin-bottom: 15px;
    font-size: 32px;
}

.menu-button {
    display: none;
}

.material-symbols-outlined {
    text-align: end;
    padding: 0px 8px;
    margin: 10px 5px;
    color: var(--emphasis-color);
}

.navigation-bar {
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 10px;
    background-color:var(--label-color);
}

.navigation-bar li {
    padding: 0px 5px;
    margin: 5px;
    white-space: nowrap;
    flex-grow: 1;
    font-size: 16px;
}

.navigation-bar a, .navigation-bar span[data-popup] {
    padding: 0px 8px;
    margin: 10px 5px;
    color: var(--emphasis-color);
    border-bottom: 2px solid var(--emphasis-color);
    text-decoration: none;
    text-align: end;
}

span[data-popup]:hover::after {
    content: attr(data-popup);
    position: absolute;
    top: 15px;
    border:1px solid var(--emphasis-color);
    background-color: var(--emphasis-color);
    color: var(--main-text-color);
}

main {
    display: flex;
    flex-direction: column;
    height: auto;
    color: var(--main-text-color);
}

main section {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

main h2 {
    flex-basis: var(--main-headers-column-width);
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 32px;
    padding-left: 30px;
    padding-right: 5px;
    border-right: 3px solid var(--main-text-color); 
    text-align: end;
}

main p, .portfolio, .contact {
    padding: 15px;
}

main p {
    font-size: 12px;
}



/* TODO temp settings for debugging */
.portfolio {
    border:1px dashed red;
}
/* 
main h2, .contact li {
    border:1px dashed red;
}
header h1 {
    border:1px dashed pink;
}
.material-symbols-outlined {
    border:1px dashed red;
}
.navigation-bar {
    border:1px dashed pink;
}
.navigation-bar li {
    border:1px dashed white;
} 
*/

.portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
}

.work, .top-work {
    border: 5px solid var(--emphasis-color);
    margin: 5px 10px 5px 0px;
}

.work {
    flex-grow: 1;
    height: 150px;
}

.top-work {
    flex-grow: 2;
    width: 100%;
    height: 300px;

}
figure a {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.work-caption {
    position: absolute;
    bottom: 20px;
    text-decoration: none;
    background-color: var(--emphasis-color);
    color: var(--label-color);
    padding: 20px 20px 20px 7px;
}





.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;
}

.contact li {
    padding: 0px 5px;
    white-space: nowrap;
    font-size: 16px; 
    margin: 5px;
    text-align: center;
}



.contact a {
    color: var(--main-text-color);
    text-decoration: none;
    padding: 0px 2px;
    border-bottom: 2px solid var(--main-text-color);
}


/* Screen size adjustments */
@media screen and (max-width: 768px) {
    header {
        height: 52px;
    }

    header h1 {
        font-size: 26px;
        /* white-space:normal; */
        padding-left: 15px;
    }  

    .navigation-bar {
        padding: 5px;
    }

    .navigation-bar li {
        font-size: 12px;
        margin: 3px;
    }
}

/* TODO: check the pixel width so that navbar doesn't overhang edge of page */
@media screen and (max-width: 600px) {
        .menu-button {
            display: contents;
        }
        .navigation-bar {
            flex-direction: column;
            padding: 2px;
        }
        .navigation-bar li {
            display: none;
        }
        
        .navigation-bar:hover li {
            display: contents;
        }
}