​ol,
ul {
  list-style: none;
}

:root {
    --background-main-color: #0A82CE;
    --background-grid-color: #63BFF8;
    --titleblock-color: #F6F6F6;
    --contrast-color: #2F2F2F;
    --text-main-color: #CCC5B8;
    --text-emphasis-color: #A04AFC;
    --dot-radius: 10px;
    --leader-height: 60px;
    --leader-width: 60px;
    --reference-length: 20px;
}

body {
    font-family: Georgia, Helvetica, sans-serif;
    color: var(--text-main-color);
    background-color: var(--background-main-color);
    background-size: 20px 20px;
    background-image: 
        linear-gradient(to right, var(--background-grid-color) 1px, transparent -10px),
        linear-gradient(to bottom, var(--background-grid-color) 1px, transparent 1px);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: var(--contrast-color); */
    align-items: flex-start;
    height:60px;
    width:auto;
}

header h1 {
    background-color: var(--titleblock-color);
    color: var(--contrast-color);
    padding: 5px 5px 5px 20px;
    white-space: nowrap;
    margin-bottom: 15px;
    font-size: 32px;
}

.menu-button {
    display: none;
}

.material-symbols-outlined {
    text-align: end;
    padding: 0px 8px;
    margin: 10px 5px;
    color: var(--titleblock-color);
}

.navigation-bar {
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 10px;
    background-color:var(--contrast-color);
}

.navigation-bar li {
    padding: 0px 5px;
    margin: 5px;
    white-space: nowrap;
    flex-grow: 1;
    font-size: 16px;
    position:relative;
}

.navigation-bar a, .navigation-bar span[data-popup] {
    padding: 0px 8px;
    margin: 10px 5px;
    color: var(--titleblock-color);
    border-bottom: 2px solid var(--titleblock-color);
    text-decoration: none;
    text-align: end;
}

span[data-popup]:hover::after {
    content: attr(data-popup);
    position: absolute;
    top: 11px;
    left:-18px;
    font-size: 16px;
    font-weight: bold;
    border:1px solid var(--titleblock-color);
    background-color: var(--titleblock-color);
    color: var(--text-emphasis-color);
    z-index: 2;
}


.parallax {
    background-image: url("../images/aerostokes_banner.png");
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 200px;
}

.spacer {
    min-height: 140px;
}

section {
    margin: 20px 0px;
    border: 3px solid var(--titleblock-color);
}





/* main h2 {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 32px;
    padding: 5px 5px 5px 40px;
    border-right: 3px solid var(--text-emphasis-color); 
    text-align: end;
} */

.title-box {
    padding: 30px 0px 30px 0px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: end;
    font-size: 32px;
    border-left: 5px solid var(--titleblock-color); 
    color: var(--titleblock-color);
    text-transform: uppercase;
}

.contents-box {
    margin: 30px;
    background-color: rgba(10, 10, 10, 0.85);
    color: var(--text-main-color);
    padding: 30px;
}


dt {
    float: left;
    padding-right: 5px;
    font-weight: normal;
}

dd {
    color: var(--text-emphasis-color);
}

.profile-pic {
    margin: 5px;
    height: 120px;
    width: auto;
    clip-path: ellipse(45% 50% at 50% 50%);
    float: left;
}



/* .profile, .portfolio, .contact {
    padding: 15px;
} */

/* .profile p {
    display: inline;
    font-size: 16px;
    text-align: justify;
    line-height: 1.2;
} */



/* .portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
} */

.card {
    flex-direction: row;
    align-items: flex-start;
    background-color: transparent;
    padding: 25px 10px;
}

/* to delete ??*/
.card-img {
    border: 5px solid var(--titleblock-color);
    filter: contrast(75%);
}

.carousel-inner {
    border: 5px solid var(--titleblock-color);
    filter: contrast(75%); 
}

.card-title {
    color: var(--text-emphasis-color);
    text-transform: uppercase;
}

.card-text {
    color: var(--text-main-color);
    font-family: monospace;
}

/* to delete?? */
.right-annotation figure {
    padding: 50px 75px 0px 0px;
}

.carousel {
    padding: 50px 75px 0px 0px;
}

.right-annotation .card-body {
    padding: 10px 0px 10px 20px;
    border-left:2px solid var(--text-emphasis-color);
    display:inline-block;
    position:relative;
}

.right-annotation .card-body::before {
    content:'';
    position:absolute;
    z-index:1;
    left: calc(0px - var(--dot-radius) - var(--leader-width) - var(--reference-length));
    right:100%;
    height:calc(var(--dot-radius) + var(--leader-height));
    top: 50%;
    background:
        /*circle*/
        radial-gradient(var(--text-emphasis-color) 56%, transparent 50%) 
            left bottom / calc(2*var(--dot-radius)) calc(2*var(--dot-radius)), 
        /*leader line*/
        linear-gradient(to bottom right, transparent calc(50% - 2px), var(--text-emphasis-color) calc(50% - 1px), var(--text-emphasis-color) calc(50% + 1px), transparent calc(50% + 2px)) 
            var(--dot-radius) 0px / var(--leader-width) var(--leader-height),
        /*reference line*/
        linear-gradient(var(--text-emphasis-color), var(--text-emphasis-color)) 
            right top / var(--reference-length) 2px;
    background-repeat:no-repeat;
}

.left-annotation figure {
    padding: 50px 0px 0px 75px;
}

.left-annotation .card-body {
    padding: 10px 20px 10px 0px;
    border-right:2px solid var(--text-emphasis-color);
    display:inline-block;
    position:relative;
    text-align: right;
}

.left-annotation .card-body::after {
    content:'';
    position:absolute;
    z-index:1;
    right: calc(0px - var(--dot-radius) - var(--leader-width) - var(--reference-length));
    left:100%;
    height:calc(var(--dot-radius) + var(--leader-height));
    top: 50%;
    background:
        /*circle*/
        radial-gradient(var(--text-emphasis-color) 56%, transparent 50%) 
            right bottom / calc(2*var(--dot-radius)) calc(2*var(--dot-radius)), 
        /*leader line*/
        linear-gradient(to bottom left, transparent calc(50% - 2px), var(--text-emphasis-color) calc(50% - 1px), var(--text-emphasis-color) calc(50% + 1px), transparent calc(50% + 2px)) 
            var(--reference-length) 0px / var(--leader-width) var(--leader-height),
        /*reference line*/
        linear-gradient(var(--text-emphasis-color), var(--text-emphasis-color)) 
            left top / var(--reference-length) 2px;
    background-repeat:no-repeat;
}

.card:hover .card-img{
    /* to delete?? */
    box-shadow: 0 0 15px var(--titleblock-color);
    filter: contrast(100%);
}

.card:hover .carousel-inner {
    box-shadow: 0 0 15px var(--titleblock-color);
    filter: contrast(100%);
}

.card:hover .card-title {
    font-weight: bold;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
}

.contact li {
    padding: 0px 5px;
    white-space: nowrap;
    font-size: 16px; 
    margin: 5px;
    text-align: center;
}

.contact a {
    color: var(--text-emphasis-color);
    text-decoration: none;
    padding: 0px 2px;
    border-bottom: 2px solid var(--text-emphasis-color);
}


/* Screen size adjustments */
@media screen and (max-width: 992px) {
    .parallax {
        background-size: auto 150px;
    }
    .spacer {
        min-height: 90px;
    }

    main h2 {
        flex-basis: 150px;
        font-size: 24px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 26px;
        /* white-space:normal; */
        padding-left: 15px;
    }  
    header {
        height: 52px;
    }
    .parallax {
        background-size: auto 120px;
    }
    .spacer {
        min-height: 68px;
    }

    .navigation-bar {
        padding: 5px;
    }
    .navigation-bar li {
        font-size: 12px;
        margin: 3px;
    }
    .banner {
        height: 100px;
    }
    main h2 {
        flex-basis: 80px;
        font-size: 16px;
        padding-left: 15px;
    }
    .profile p {
        font-size: 10px;
    }
    .banner-caption-1 {
        top: 10px;
        left: 20px;
        font-size: 12px;
    }
    .banner-caption-2 {
        bottom: 10px;
        right: 20px;
        font-size: 12px;
    }

}

@media screen and (max-width: 600px) {
    header {
        height: 40px;
    }
    .parallax {
        background-size: auto 72px;
    }
    .spacer {
        min-height: 32px;
    }
    .menu-button {
        display: contents;
    }
    .navigation-bar {
        flex-direction: column;
        padding: 2px;
    }
    .navigation-bar li {
        display: none;
    }
    
    .navigation-bar:hover li {
        display: contents;
    }

    span[data-popup]:hover::after {
        top: 166px;
        left: -28px
    }
}